@tailwind base;
@tailwind components;
@tailwind utilities;


.card {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.container {
  max-width: 1500px;
  margin: auto;
}

.shadow-lg {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


.spacing-container {
  padding-top: 2rem; /* Adjust as needed */
  padding-bottom: 2rem; /* Adjust as needed */
}